@{
    ViewBag.Title = "Home Page";
}

<div ng-controller="flowController">
    <div class="row">
        <div class="col-xs-6">
            <div class="top-margin-3 row">
                <div class="col-xs-4">
                    <button class="btn btn-primary pull-right" ng-click="createNewRule()">New</button>
                </div>
                <div class="col-xs-8">
                    <select class="form-control" ng-model="flowRule" ng-options="rule.Name for rule in flowRules">
                        <option value="">-- Create new or update an existing rule --</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <form class="form-horizontal">
                    <label for="ruletype" class="col-xs-4 control-label">Name</label>
                    <div class="col-xs-8">
                        <input class="form-control" ng-model="flowRule.Name" placeholder="Function name"/>
                    </div>
                    <label for="ruletype" class="col-xs-4 control-label">Target attribute</label>
                    <div class="col-xs-8">
                        <input class="form-control" ng-model="flowRule.TargetAttribute" placeholder="Attribute"/>
                    </div>

                    <label for="ruletype" class="col-xs-4 control-label">RuleType</label>
                    <div class="col-xs-8">
                        <input id="ruletype" name="ruletype" class="form-control" ng-model="flowRule.RuleType" ng-disabled="true"/>
                    </div>

                </form>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <python-editor editor-text="flowRule.Expression"></python-editor>

                    <div>
                        <button class="btn btn-info" ng-click="testFunction()">Test</button>
                        <button class="btn btn-success pull-right" ng-click="saveFlowRule()"> {{ flowRules.indexOf(flowRule) > -1 ? 'Create' : 'Update' }}</button>
                    </div>

                    <div class="top-margin-1-5" ng-class="errorMessage != null ? 'text-danger' : 'text-success'">
                        Result: {{ errorMessage != null ? errorMessage : resultMessage }}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-6">
            <div class="text-primary" ng-show="resultEntry">
                <h3 class="text-center">Target change</h3>
                <entry-viewer entry="resultEntry"></entry-viewer>
            </div>
            <div class="">
                <h3 class="text-center">Source</h3>
                <entry-viewer entry="source" editable="true"></entry-viewer>
            </div>
            <div class="">
                <h3 class="text-center">Target</h3>
                <entry-viewer entry="target" editable="true"></entry-viewer>
            </div>
        </div>
    </div>
</div>