@{
    ViewBag.Title = "Provision";
}

<div ng-controller="provisionController">
    <div class="col-xs-6">

        <div class="top-margin-3 row">
            <div class="col-xs-4">
                <button class="btn btn-primary pull-right" ng-click="createNewRule()">New</button>
            </div>
            <div class="col-xs-8">
                <select class="form-control" ng-model="provRule" ng-options="rule.Name for rule in provRules">
                    <option value="">-- Create new or choose an existing rule --</option>
                </select>
            </div>
        </div>

        <div class="row">

            <form class="form-horizontal" name="provRuleForm">
                <label for="ruletype" class="col-xs-4 control-label">Name</label>
                <div class="col-xs-8">
                    <input class="form-control" ng-model="provRule.Name" placeholder="Function name" pattern="[A-Za-z]{3,100}" required/>
                </div>

                <label for="ruletype" class="col-xs-4 control-label">Management Agent</label>
                <div class="col-xs-8">
                    <input class="form-control" ng-model="provRule.Agent" placeholder="Agent"  required/>
                </div>

                <label for="ruletype" class="col-xs-4 control-label">Source ObjectType</label>
                <div class="col-xs-8">
                    <input class="form-control" ng-model="provRule.SourceObject" placeholder="person"  required/>
                </div>

                <label for="ruletype" class="col-xs-4 control-label">Target ObjectType</label>
                <div class="col-xs-8">
                    <input class="form-control" ng-model="provRule.TargetObject" placeholder="systemUser"  required/>
                </div>

                <label for="ruletype" class="col-xs-4 control-label">RuleType</label>
                <div class="col-xs-8">
                    <input id="ruletype" name="ruletype" class="form-control" ng-model="provRule.RuleType" ng-disabled="true"  required/>
                </div>

            </form>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <div class="top-margin-2-5">
                    <div class="h4">Provision rule</div>
                    <p>Write an expression than returns true or false </p>
                </div>

                <python-editor editor-text="provRule.Condition"></python-editor>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <button ng-disabled="provRuleForm.$invalid" class="btn btn-info" ng-click="testFunction()">Test</button>
                <button ng-disabled="provRuleForm.$invalid" class="btn btn-success pull-right" ng-click="saveprovRule()"> {{ provRules.indexOf(provRule) > -1 ? 'Update' : 'Update' }}</button>
            </div>
        </div>

    </div>

    <div class="col-xs-6">

        <entry-viewer entry="mventry" editable="true"></entry-viewer>

        <div class="top-margin-2-5">
            <span class="h4">Provisioned: </span><span ng-class="{'text-success': result, 'text-danger': !result}">{{ result }}</span>
            <div ng-show="result != null">MVEntry would {{ result ? '' : 'not' }} be provisioned to {{ provRule.Agent }}</div>
        </div>
    </div>

</div>