@{
    ViewBag.Title = "Provision";
}

<div ng-controller="provisionController">

    <div class="row bot-margin-2">
        <div class="col-xs-6">
            <div class="h3 bot-margin-1">Mock user: {{ objectType }}</div>


            <div class="row" ng-repeat="attrib in attribs">
                <div class="col-xs-2">
                    <div class="pull-right">{{ attrib.Name }}</div>
                </div>
                <div class="col-xs-4 pull-left">
                    <div>{{ attrib.Value }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row top-margin-2-5">
        <div class="h4">Provision rule</div>
        <p>Write an expression than returns true or false </p>
    </div>

    <div class="row top-margin-1">
        <div class="col-xs-6">
            <textarea cols="80" rows="15" ng-trim="false" ng-model="provRule.Condition" id="textbox"></textarea>

            <button ng-disabled="" class="btn btn-info" ng-click="testFunction()">Test</button>
            <button ng-disabled="" class="btn btn-success pull-right" ng-click="saveprovRule()"> {{ provRules.indexOf(provRule) > -1 ? 'Create' : 'Update' }}</button>
        </div>

        <div class="col-xs-5" ng-style="{ 'margin-left': '10px' }">
            <span class="h4">Provisioned: </span><span ng-class="{'text-success': result, 'text-danger': !result}">{{ result }}</span>
            <div  ng-show="result != null">MVEntry would {{ result ? '' : 'not' }} be provisioned to {{ provRule.Agent }}</div>
        </div>
    </div>
</div>